body{
    font-family: 'Roboto Mono', monospace, sans-serif;
    display: contents;
    text-align: center;

}
main{
    margin: 5px;
    padding: 5px;
}
header{
    font-size: 150%;
}
h2{
    font-size:100% ;
}
.score-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.selection-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.choice-area{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    
}




footer {

    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 75%;
    

}